/* Main */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
    background-color: #f2f2f2;
}

.main-content {
    margin-left: 100px;
    padding-top: 10px;
}

.content {
    display: none;
}

.content.show {
    display: block;
}

#last-update {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}
/* End Main */

#job-header, #media-header, #rent-header {
    height: 170px;
}

#job-input, #media-input, #rent-input {
    height: 350px;
}

.input-container {
    padding: 10px;
}

#input {
    height: 400px;
}

.result-container {
    padding: 10px;
    border: 1px solid #ccc;
}

#result {
    white-space: pre-wrap;
    font-family: monospace;
    position: relative;
    height: 500px;
    overflow-y: auto;
}

#copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}